$red: #ea352d;
$white: rgb(255, 255, 255);
$sky_blue: #0095ee;
$black: #333;
$light_gray: #f5f5f5;
$black: #434a54;
$alert_orange: #F35500;
$lapis_lazuli: #247BA0;
$green_sheen: #70C1B3;
$seagreen: #B2DBBF;
$pale_yellow: #F3FFBD;
$awesome: #FF1654;
